.App {
  text-align: center;
}

.App-header {
  background: #393e46 url('./desktop.jpg') right;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  max-width: 100%;
  height: auto;
}

.Circle {
  height: 50px;
  width: 50px;
  background-color: #61dafb;
  border-radius: 50%;
  display: inline-block;
}

.Container {
  width: 960px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.Banner {
  background-color: #222831;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Banner .Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Banner ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.Banner li {
  display: inline;
}

.Banner a {
  display: inline-block;
  padding: .5em 1.5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.Banner a:hover {
  text-decoration: underline;
}

.Banner a:active {
  color: #61dafb;
}

body {
  background-color: #eeeeee;
}

.CardPool {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}